<!doctype html>
<html>
<head>
	<title>Joseph Sullivan</title>
	<link rel="stylesheet" href="../style.css" type="text/css">
</head>
<body>
	<div id=nav-bar>
			<a class=nav-buttons href="http://flip3.engr.oregonstate.edu:3878">HOME</a>
			<a class=nav-buttons href="http://flip3.engr.oregonstate.edu:3878/about-me">ABOUT ME</a>
			<a class=nav-buttons href="http://flip3.engr.oregonstate.edu:3878/resume">RESUME</a>
			<a class=nav-buttons href="http://flip3.engr.oregonstate.edu:3878/contact">CONTACT</a>
	</div>
	{{{body}}}
</body>
</html>
