<div id=content>
    <div id="slideshow-div">
      <img class=slides src="wedding.jpg" alt="Picture of me">
      <img class=slides src="jk-wedding.jpg" alt="Another picture of me">
    </div>
    <div id=about-me-div>
      <h1 id=box-head>ABOUT ME</h1>
      <div id=scrollbox>
        <h2>
          I was born and raised in Wisconsin and earned my BS in Forest Science
          from the University of Wisconsin-Madison in 2014. My wife and I moved
          to Corvallis, OR in 2015. Since graduating I have done seasonal work,
          performing habitat restoration in both Wisconsin and Oregon. I also
          spent a summer working for the Oregon Department of Forestry's Forest
          Health Unit where I helped conduct research on invasive wood boring
          insects.
				</h2>
				<br>
				<h2>
					It has been about a year since I decided to return to school
				  to pursue a Computer Science Degree at Oregon State
					University. I will be graduating at the end of the 2018 Fall term.
        </h2>
      </div>
  	</div>
	</div>
  <script src="carousel.js"></script>
