<div id=contact-content>
  <div id=info>
    <h1>CONTACT INFORMATION</h1>
    <h2>
      <ul>
        <li>Joseph Sullivan</li>
        <li>XXXX NW 23rd St.<br>Corvallis, OR 97330</li>
        <li>(608) 290-XXXX</li>
        <li>jasulli@gmail.com</li>
      </ul>
    </h2>
  </div>
</div>
