<div id=content>
  <div id="slideshow-div">
    <img class=slides src="wedding.jpg" alt="Picture of me">
    <img class=slides src="jk-wedding.jpg" alt="Another picture of me">
  </div>
  <div id=greeting>
    <h2>Hi, I'm Joe Sullivan<h2>
    <h2>
      Welcome to my site. I am a student of computer science at
      Oregon State University and this is my first webpage. You can find my
      resume, a link to my GitHub page, and my contact information at the links
      above.
    </h2>
  </div>
</div>
<script src="carousel.js"></script>
