<div id=resume-content>
  <div id=button-div>
    <a class=link-buttons href="resume.pdf" download>
      DOWNLOAD MY RESUME
    </a>
    <a class=link-buttons href="https://github.com/jasullivan5/CS_290_example.git" target=_blank>
      VIEW MY WORK ON GITHUB
    </a>\
  </div>
  <img id=resume src="resume.jpg" alt="Picture of me">
</div>
